:root {
    --header-background: #4a6274;
    --sidebar-background: #d294af;
}

body, 
html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: flex;
    background-color: var(--header-background);
    color: white;
    align-items: center;
    padding: 25px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: flex;
    background-color: var(--sidebar-background);
    padding: 25px;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.sidebar button {
    border: none;
    background-color: var(--sidebar-backgrounds);
    box-shadow: 0px 0px 19px 0px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
}

.sidebar button:active {
    background-color: rgb(255, 255, 255);
}